*.aux
*.glo
*.hd
*.out
*.sty
*.swp
*.synctex.gz
*.tmp
*.zip
*~
diagbox/*.idx
diagbox/diagbox.pdf
diagbox/diagbox.zip
diagbox/z.*
seealso/seealso.dvi
seealso/seealso.pdf
seealso/z.*
zhmCJK/README
zhmCJK/texfonts.map
zhmCJK/zhmCJK-test.pdf
zhmCJK/zhmCJK-test.tex
zhmCJK/zhmCJK.dvi
zhmCJK/zhmCJK.idx
zhmCJK/zhmCJK.map
zhmCJK/zhmCJK.pdf
zhmCJK/zhmCJK.tfm
zhmakeindex/bin/darwin_x64/zhmakeindex
zhmakeindex/bin/darwin_x86/zhmakeindex
zhmakeindex/bin/linux_x64/zhmakeindex
zhmakeindex/bin/linux_x86/zhmakeindex
zhmakeindex/doc/zhmakeindex.pdf
zhtex/ttf2pt1/
